@import '_colors';
@import '_drawing';
@import '_common';

@import '_copyous-colors';
@import '_dialog';
@import '_search-entry';
@import '_clipboard-item';
@import '_content-preview';
@import '_content-info';
@import '_popupmenu';
@import '_edit-dialog';
@import '_qr-dialog';

.copyous-indicator-box {
	spacing: 6px;

	.indicator-icon,
	.indicator-image {
		icon-size: $scalable_icon_size;
	}

	.indicator-label {
		max-width: 10em;
	}
}
