// Edit dialog
.clipboard-item-edit-dialog {
	width: 35em;

	.clipboard-item-edit-dialog-entry {
		height: 16em;

		&.monospace {
			@extend %monospace;
			@include fontsize(9pt);
		}

		.multiline-scrollview {
			.multiline-box {
				padding-right: $base_padding;
			}
		}
	}

	.modal-dialog-top-button-box {
		padding: 0;
	}
}

// Language button popupmenu
.scrollable-popup-menu-section {
	max-height: 350px;

	.popup-menu-section {
		margin-right: $base_padding + 7px;
	}

	StScrollBar {
		padding: $base_padding 0;
	}
}
