$menu_bg_color: $bg_color;

$menuitem_bg_color: if($variant == 'light', darken($menu_bg_color, 5%), lighten($menu_bg_color, 5%));
$menuitem_border_radius: $base_border_radius * 1.5;

$submenu_bg_color: if($variant == 'light', darken($menu_bg_color, 17%), lighten($menu_bg_color, 13%));

// prettier-ignore
@mixin tag_button($color) {
	.tag {
		background-color: $color;
	}

	&:focus .inner { border-color: transparentize($color, 0.7); }
	&:checked .inner { border-color: $color; }
	&:checked:focus { border-color: transparentize($color, 0.7); }
}

.clipboard-item-menu,
.search-popup-menu {
	// Match color with color scheme
	color: $fg_color;

	.popup-menu-content {
		background-color: $bg_color;
		border: 1px solid $outer_borders_color;
		box-shadow: 0 2px 4px 0 $shadow_color;
	}

	.popup-menu-item {
		@include menuitem($bg: $menuitem_bg_color);

		&:checked {
			@if $contrast == 'high' {
				border: 1px solid $hc_inset_color;
			}
		}
	}

	.popup-inactive-menu-item {
		color: $fg_color;
		&:insensitive {
			color: $insensitive_fg_color;
		}
	}

	.popup-sub-menu {
		background-color: $submenu_bg_color;

		@if $contrast == 'high' {
			border-color: $hc_inset_color;
		}

		.popup-menu-item {
			@include menuitem($bg: $submenu_bg_color);
		}
	}

	.popup-separator-menu-item {
		.popup-separator-menu-item-separator {
			background-color: $borders_color;
		}

		// separators in submenus
		.popup-sub-menu & {
			background-color: transparent;

			.popup-separator-menu-item-separator {
				background-color: $borders_color;
			}
		}
	}

	// Tags item
	.tags-item {
		padding: 0;
		spacing: 0;

		.tags-scrollview {
			width: 5 * ($base_padding * 5 + 4px);
		}

		.tag-button {
			border-radius: $forced_circular_radius;
			border: $base_padding * 0.5 solid transparent;

			.inner {
				border-radius: $forced_circular_radius;
				border: $base_padding * 0.5 solid transparent;

				.tag {
					border-radius: $forced_circular_radius;
					width: $base_padding * 3;
					height: $base_padding * 3;
					margin: 2px;
				}
			}

			&.null {
				.tag {
					icon-size: $base_padding * 5;
					background-color: transparent;
				}
			}

			// prettier-ignore
			& {
				&.blue { @include tag_button($tag_color_blue); }
				&.teal { @include tag_button($tag_color_teal); }
				&.green { @include tag_button($tag_color_green); }
				&.yellow { @include tag_button($tag_color_yellow); }
				&.orange { @include tag_button($tag_color_orange); }
				&.red { @include tag_button($tag_color_red); }
				&.pink { @include tag_button($tag_color_pink); }
				&.purple { @include tag_button($tag_color_purple); }
				&.slate { @include tag_button($tag_color_slate); }
			}
		}

		// prettier-ignore
		.arrow-button {
			@extend %menuitem;

			padding-left: $base_padding;
			padding-right: $base_padding;

			StIcon {
				icon-size: $scalable_icon_size;
			}

			&:first-child {
				border-radius: $menuitem_border_radius 0 0 $menuitem_border_radius;
			}

			&:last-child {
				border-radius: 0 $menuitem_border_radius $menuitem_border_radius 0;
			}
		}
	}
}

.clipboard-item-menu {
	// Move original styles to nested element to fix bad animation
	.clipboard-action-submenu.popup-sub-menu {
		margin-bottom: 0;
		border: none;
		background-color: transparent;
	}
}
